/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-popover.search-popover {
    --background: #1b171b;
    --width: 100vw;
    --offset-y: 5px; 
}

ion-popover.search-popover::part(content) {
    border-radius: 0px;
    left: calc(0px + var(--offset-x, 0px)) !important;
}
ion-popover.search-popover::part(backdrop) {
    height: calc(100% - 50px);
    margin-top: auto;
}

.header-ios.app-header ion-toolbar:last-of-type  {
    --border-width: 0px 0 3px;
}

.color-red-asterisk{
    color: var(--ion-color-danger);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-size h2 {
    font-size: 16px !important;
}

ion-toast.custom-toast-button::part(button) {
    background-color: var(--ion-color-dark-shade);
    margin: 0 auto 10px ;
    font-size: 12px;
    border-radius: 10px;
    height: unset;
  }

.action-sheet-button-disabled{
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: 0.6;
}  



ion-header{
    ion-title.ios {
        font-size: 25px;
    }
}

ion-popover [popover]:not(:popover-open):not(dialog[open]){
    display: contents;
  }

  .custom-accordion>[slot="header"] .ion-accordion-toggle-icon,
  .custom-accordion>[slot="header"] .ion-accordion-toggle-icon {
      color: #c8c7cc;
      font-size: 20px;
      transform: translateX(6px);
  }

  ion-accordion.accordion-expanding>[slot="header"] .ion-accordion-toggle-icon,
  ion-accordion.accordion-expanded>[slot="header"] .ion-accordion-toggle-icon {
      transform: rotate(90deg) translateY(-6px);
  }

ion-alert.custom-alert,ion-alert.map-interaction-alert {
    white-space: break-spaces;
}

ion-toast.sync-toaster,ion-toast.sync-toaster-success,ion-toast.sync-toaster-error{
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

ion-toast.sync-toaster{
    width: 250px !important;
}
ion-toast.sync-toaster::part(icon) {
    font-size: 24px;
    margin-inline-start: 27.75%;
 
  }
ion-toast.sync-toaster-success{
    width: 250px !important;
}
ion-toast.sync-toaster-success::part(message) {
    color: green;
}

ion-toast.sync-toaster-success::part(icon) {
    font-size: 24px; 
    color: green;
    margin-inline-start: 18%;
  }
ion-toast.sync-toaster-error{
    width: 400px !important;
}


ion-toast.sync-toaster-error::part(icon) {
    font-size: 24px; 
    color: red;
    margin-inline-start: 14%;
  }

swiper-container.swiper-calendar-container {
    width: 100%;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    &::part(container) {
        padding-bottom: 12.5px;
    }
    swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% / 7);
    }
   
}

  swiper-container.swiper-container {
    --swiper-pagination-bottom: 20px;
    --swiper-pagination-color: var(--ion-color-primary, #0054e9);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
    width: 100%;
    height: 100%;
    padding: 20px 10px 0 10px;
  
  swiper-slide {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 95%;
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
  
  swiper-slide div div img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
  
}

  ion-modal.onboarding {
    --height:100%;
    --width : 100%;
}
  
.warning-toast::part(icon) {
    color: var(--ion-color-danger)
}
.menu-header-content {
    background-color: var(--ion-color-danger);
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
}

.menu-avatar {
    font-size: 100px;
    margin: 0 auto;
}

.menu-text {
    font-size: 14px;    
}

.menu-text:first-of-type {
    padding-top: 5px
}

.menu-nav-icon {
    font-size: 32px
}

.menu-nav-icon-1 {
    font-size: 29px;
    padding-left: 1px;
}

ion-content, ion-item{
    --background: var(--ion-color-primary);
}

ion-item {
    --min-height: 85px;
    --border-color: var(--ion-color-dark)
}

.menu-thumbnail-wrapper {
    width: 100px;
}

ion-thumbnail {
    --border-radius: 50%;
    --size: 85px;
    margin: 0 auto;
}

ion-header.menu-header {
    background-color: var(--ion-color-danger);
}

.spinner-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filled {
    color: #E0061C;
  }
.spinner-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.065);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pending {
    background-color: var(--ion-color-warning);
    background-size: 26.39px 24.61px;
    // border: 1px solid black;
}

.accepted {
    // border: 2px solid black;
    background-color:  var(--ion-color-success);
}

.declined {
    // border: 2px solid  var(--ion-color-danger);
    background-color:  var(--ion-color-danger);

}

ion-card {
    .div-horizental {
        width: 6px;
        // position: absolute;
        height: 100%;
        z-index: 10;
    }
    &:first-child {
        margin: 10px 10px 20px;
      }
      margin: 20px 10px;

    .wrapper {
        width: 100%;
        margin-left: 10px;
    }
    ion-item::part(native)  {
        --inner-padding-end : 5px;
        --padding-start:0;
    }

    .new-event-icon {
        position: absolute;
        color: orange;
        top: 5px;
        font-size: 13px;
        right: 5px;
        z-index: 3;
    }

    ion-card-header {
        padding: 10px 10px 0 0px;
        ion-card-title {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-inline-start: 10px;
            justify-content: center;
            ion-thumbnail {
                margin-bottom: 5px;
                ion-avatar {
                    margin: 0 auto;
                }
            }
            ion-label {
                font-size: 20px;
                flex-grow: 3;
                margin-bottom: 5px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;     
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .operation-buttons-container {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-size: 26px;
                transform: translateY(-5px);
            }
        }

        ion-card-subtitle {
            padding-bottom: 5px;
            display: flex;
            font-size: 11px;
            align-items: center;
            margin-right: 5px;
            .location-icon {
                margin-right: 2.5px;
            }
        }
    }

    ion-card-content {
        padding: 0px 8px 8px 0px;

        .event-detail {
            display: flex;
            gap: 3px;
            align-items: center;
            font-size: 13px;
            padding: 2px 5px;

            ion-icon {
                font-size: 20px;
                margin-right: 5px;
            }
        }

        ion-chip {
            padding-inline: 10px;
            font-size: 11px;

            ion-icon {
                margin-right: 3.5px;
            }

            &.organizer-chip {
                img {
                    margin-right: 3.5px;
                }
            }
        }
    }
    ion-item-options{
        .myBookings-sliding-options {
            margin: 1px;
            color: black;
            border-radius:10px;
            font-size: 12px;
            padding: 0 7px;
            
            ion-icon {
                font-size: 24px;
            }
        }
        
      }
}

ion-popover {
    --max-height: 40vh;
    --min-width: 240px;
}

ion-popover.seriesPopOver::part(content) {
    left: calc((100% - 90%) / 2);
}

ion-popover.seriesPopOver {
    --width: 90%;
    --min-height: 0;
}

ion-popover.ResponsePopOver {
    --min-width: fit-content;
}


ion-popover.info-popover::part(content) {
    min-width: unset;
    width: fit-content;

}

ion-popover.display-name {
    --width: 275px;
    ion-icon {
        font-size: 16px;
    }
    ion-label {
        margin: 5px 10px;
        .displayName, .address , .emailAddress {
            display: flex;
            align-items: center;
            gap:5px;
            margin: 7px 0;
            word-break: break-word;

            div {
                display: flex;
            }
        }
        .address {
            font-size: 12px !important;
            // margin-left: -2px;
            ion-icon {
                font-size: 16px;
            }
        }
        .displayName {
           font-size: 15px;
        }
        .emailAddress {
            ion-icon {
                color: #6e6e6e;
            }
            small {
                color: #6e6e6e;
                font-size: 12px;
                font-weight: 500;
            }
        }
   
    }
}


.container {
    ion-item {
        font-size: 12px;

        ion-icon {
            font-size: 30px;
            margin-right: 5px;
        }

    }

    font-size: 14px;
    max-height: 250px !important;
    margin: 8px 5px 8px 13px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--ion-color-light);
        border-radius: 2px;
    }

    .inner-scroll {
        scrollbar-width: thin;
    }
}
.tip-container {
    margin: 8px 13px 8px 13px;
    font-size: 14px;
}

.user-response-container {
    ion-icon {
        font-size: 30px;
    }
}

